<head>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <title>Liste des avis</title>
</head>

<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/Form">Formulaire</a></li>
        </ul>
    </nav>
    <section>
        <p>
            @* <a href="/Home/Index/Form">Remplissez le formulaire</a> *@
        </p>
    </section>
</body>