@model List<TPLOCAL1.Models.Opinion>;

<head>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <title>Liste des avis</title>
</head>

<body>
    @{
        var headerModel = new TPLOCAL1.Models.HeaderNavModel
        {
            Title = "Liste des avis",
            NavItems = new List<TPLOCAL1.Models.NavItem>
            {
            new TPLOCAL1.Models.NavItem {Text = "Accueil", Url ="/Home/Index"},
            new TPLOCAL1.Models.NavItem {Text = "Formulaire", Url ="/Home/Index/Form"},
            }
        };
    }
    <partial name="_HeaderNav" model="headerModel" />
    
    <section>
        <div class="container">
            <p class="labelInfo">Liste</p>

            <fieldset class="fieldsetAvisFormation">
                <div class="avis-table">
                    <div class="row header">
                        <div>Nom</div>
                        <div>Prénom</div>
                        <div>Avis donné</div>
                    </div>

                    @foreach (var avis in Model)
                    {
                        var isOpinionYes = avis.OpinionGiven == "O";
                        <div class="row">
                            <div>@avis.LastName</div>
                            <div>@avis.FirstName</div>
                            <div class="cell avis @(isOpinionYes ? "oui" : "non")">
                                @(isOpinionYes ? "Oui" : "Non")
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </section>
</body>