@model TPLOCAL1.Models.AvisModel

<head>
    <link rel="stylesheet" href="~/resources/Index.css" />
    <title>Formulaire</title>
</head>

<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/AvisList">Liste avis</a></li>
        </ul>
    </nav>
    <form asp-action="ValidationFormulaire" method="post">
        <div class="container">
            <p class="labelInfo">Informations personnelles</p>
            <fieldset class="fieldsetPersonalInfo">
                <div class="form-row">
                    <label class="wrapper">Nom</label>
                    <div class="wrapper">
                        <input asp-for="Nom" placeholder="Dupont"/>
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Prénom</label>
                    <div class="wrapper">
                        <input asp-for="Prenom" placeholder="Marie"/>
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Sexe</label>
                    <div class="wrapper">
                        <select asp-for="Sexe">
                            <option value="" disabled selected hidden>Sélectionner un sexe</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Autre">Autre</option>
                        </select>
                        <span asp-validation-for="Sexe" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Adresse</label>
                    <div class="wrapper">
                        <input asp-for="Adresse" placeholder="120 Rue de Paris" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Code Postal</label>
                    <div class="wrapper">
                        <input asp-for="CodePostal" placeholder="90111"/>
                        <span asp-validation-for="CodePostal" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-row">
                    <label class="wrapper">Ville</label>
                    <div class="wrapper">
                        <input asp-for="Ville" placeholder="Paris"/>
                        <span asp-validation-for="Ville" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Adresse mail</label>
                    <div class="wrapper">
                        <input asp-for="Mail" placeholder="DupontM@gmail.com"/>
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="container">
            <p class="labelInfo">Informations formation suivie</p>
            <fieldset class="fieldsetFormationInfo">
                <div class="form-row">
                    <label class="wrapper">Date début formation</label>
                    <div class="wrapper">
                        <input asp-for="DateDebut" type="date"/>
                        <span asp-validation-for="DateDebut" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Formation suivie</label>
                    <div class="wrapper">
                        <select asp-for="Formation">
                            <option value="" disabled selected hidden>Sélectionner une formation</option>
                            <option value="Cobol">Formation Cobol</option>
                            <option value="C#">Formation par objet</option>
                            <option value="C# & Cobol">Formation à double compétence</option>
                        </select>
                        <span asp-validation-for="Formation" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="container">
            <p class="labelInfo">Avis sur la formation</p>
            <fieldset class="fieldsetAvisFormation">
                <div class="form-row">
                    <label class="wrapper">Formation Cobol</label>
                    <div class="wrapper">
                        <input asp-for="AvisCobol" placeholder="Donnez votre avis" />
                    </div>
                </div>

                <div class="form-row">
                    <label class="wrapper">Formation C#</label>
                    <div class="wrapper">
                        <input asp-for="AvisCsharp" placeholder="Donnez votre avis" />
                    </div>
                </div>
            </fieldset>
        </div>

        <input type="submit" value="Valider"/>
    </form>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }

</body>